*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  font-family: "Microsoft JhengHei", "Noto Sans", sans-serif;
  overflow-x: hidden;
  text-decoration: none;
  background-color: whitesmoke;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  background-image: url(../assets/Hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.form-select:hover {
  background-color: rgba(235, 240, 243, 0.638);
}

.header_nav {
  position: absolute;
  top: 19.5rem;
  left: 17%;
}

.main {
  position: relative;
}

.arrow-down {
  position: absolute;
  left: 50%;
  top: 12.5rem;
  height: 2.65rem;
  width: 2.5rem;
  border-radius: 50%;
  border: 1px solid #559ac8;
  background-color:whitesmoke;
  z-index: 1;
}

.border_top {
  min-width: 80%;
  height: 0.1px;
  color:#559ac8;
  border-bottom: 2.5px dashed #559ac8;
  position: absolute;
  top: 14rem;
  left: 10%;
}

@media only screen and (max-width: 28em) {
  .header_nav ul {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .btn {
    padding: 0.5rem;
    margin: 0;
    width: 200%;
  }

  .arrow-down {
    top: 20rem;
    left: 48%;
  }

  .border_top {
    top: 21.5rem;
  }
}

@media only screen and (min-width: 70rem) {
  .btn {
    width: 80%;
    font-size: 1.25rem;
  }
}
